// Colors
$primary-color: #4690D6;
$secondary-color: #e9e9e9;
$border-color: #dddddd;
$alert-color: #67080a;
$success-color: #396516;
$warning-color: #f08a24;
$info-color: #a0d3e8;

// Media Queries
$small-screen: 768px;
$medium-screen: 1280px;
$large-screen: 1440px;

$screen: "only screen";
$small: "only screen and (min-width: #{$small-screen})";
$medium: "only screen and (min-width: #{$medium-screen})";
$large: "only screen and (min-width: #{$large-screen})";
$landscape: "only screen and (orientation: landscape)";
$portrait: "only screen and (orientation: portrait)";